body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page main {
    width: 100%;
}

.page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
