@page "/dashboard/settings"

@layout DashboardLayout

<header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-3 border-bottom">
    <h1 class="h2">Налаштування</h1>
</header>
<div>

</div>

@code {
    
}