@page "/dashboard"

@layout DashboardLayout
<header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-3 border-bottom">
    <h1 class="h2">Головна</h1>
</header>
<div>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Товары</div>
                <div class="card-body">
                    <h5 class="card-title">100</h5>
                    <p class="card-text">Общее количество товаров</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Заказы</div>
                <div class="card-body">
                    <h5 class="card-title">50</h5>
                    <p class="card-text">Общее количество заказов</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Пользователи</div>
                <div class="card-body">
                    <h5 class="card-title">20</h5>
                    <p class="card-text">Общее количество пользователей</p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    
}