@page "/dashboard/orderHistory"

@layout DashboardLayout

<header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-3 border-bottom">
    <h1 class="h2">Історія замовлень</h1>
</header>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>№ заказа</th>
            <th>Дата</th>
            <th>Покупатель</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <!-- Здесь можно будет отображать заказы -->
        </tbody>
    </table>
</div>